@charset "UTF-8";

@font-face {
  font-family: AvenirNextCyr;
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: AvenirNextCyr;
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: AvenirNextCyr;
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Demi.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: AvenirNextCyr;
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 360px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "AvenirNextCyr";
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: normal;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "AvenirNextCyr";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться 
ко всем  классам, содержащим *__container 
Например, header__container, main__container и т.п. 
Сниппет (HTML): cnt
*/

[class*=__container] {
  max-width: 78.75rem;
  margin: 0 auto;
  padding: 0 1.875rem;
}

[class*=__container_wide] {
  max-width: 107rem;
  padding: 0;
  position: relative;
}

.form__line:not(:last-child) {
  margin-bottom: 1.25rem;
}

.form__line_datepicker {
  position: relative;
}

.form__line._form-focus .input__icon {
  -webkit-transform: translate(0, -50%) rotate(-180deg);
      -ms-transform: translate(0, -50%) rotate(-180deg);
          transform: translate(0, -50%) rotate(-180deg);
}

.form__label {
  color: #00e0ff;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.3px;
  display: block;
}

.form__label:not(:last-child) {
  margin-bottom: 0.625rem;
}

.button {
  padding: 23.5px 13px;
  border-radius: 9px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(3, 225, 255, 0.66)), to(#13cdc2));
  background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13cdc2 100%);
  text-align: center;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  z-index: 1;
}

.button_fw {
  width: 100%;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 9px !important;
  width: 100%;
  display: block;
  padding: 18.5px 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 224, 255, 0.11)), to(rgba(0, 224, 255, 0.05)));
  background: linear-gradient(180deg, rgba(0, 224, 255, 0.11) 0%, rgba(0, 224, 255, 0.05) 100%);
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.5px;
  border: 2px solid;
  -o-border-image: linear-gradient(to right, transparent, #0f6b78, transparent) 1 1;
     border-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#0f6b78), to(transparent)) 1 1;
     border-image: linear-gradient(to right, transparent, #0f6b78, transparent) 1 1;
  border-image-slice: 1;
}

.input__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.input::-webkit-input-placeholder {
  color: #fff;
}

.input::-moz-placeholder {
  color: #fff;
}

.input:-ms-input-placeholder {
  color: #fff;
}

.input::-ms-input-placeholder {
  color: #fff;
}

.input::placeholder {
  color: #fff;
}

.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-moz-placeholder {
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-moz-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.qs-datepicker-container {
  margin: 5px;
  font-size: 1rem;
  font-family: sans-serif;
  color: #000;
  position: absolute;
  width: 15.625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 9001;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  background: linear-gradient(286deg, rgb(2, 35, 53) 3.63%, rgb(12, 55, 61) 90.98%);
  -webkit-box-shadow: 0 1.25em 1.25em -0.9375em rgba(0, 0, 0, 0.3);
  box-shadow: 0 1.25em 1.25em -0.9375em rgba(0, 0, 0, 0.3);
  padding: 5px;
}

.qs-datepicker-container:before {
  top: 0;
}

.qs-datepicker-container:after {
  bottom: 0;
}

.qs-datepicker-container * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.qs-datepicker-container.qs-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.qs-datepicker-container.qs-hidden {
  display: none;
}

.qs-datepicker .qs-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  z-index: 1;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.qs-datepicker .qs-overlay.qs-hidden {
  opacity: 0;
  z-index: -1;
}

.qs-datepicker .qs-overlay .qs-overlay-year {
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  color: #fff;
  font-size: 0.875em;
  padding: 0.25em 0;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.qs-datepicker .qs-overlay .qs-overlay-year::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.qs-datepicker .qs-overlay .qs-close {
  padding: 0.5em;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.qs-datepicker .qs-overlay .qs-submit {
  border: 1px solid #fff;
  border-radius: 0.26392em;
  padding: 0.5em;
  margin: 0 auto auto;
  cursor: pointer;
  background: hsla(0, 0%, 50.2%, 0.4);
}

.qs-datepicker .qs-overlay .qs-submit.qs-disabled {
  color: grey;
  border-color: grey;
  cursor: not-allowed;
}

.qs-datepicker .qs-overlay .qs-overlay-month-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.qs-datepicker .qs-overlay .qs-overlay-month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 33.33333%;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.qs-datepicker .qs-overlay .qs-overlay-month.active,
.qs-datepicker .qs-overlay .qs-overlay-month:hover {
  opacity: 1;
}

.qs-datepicker .qs-controls {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background: #000;
  color: #fff;
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.qs-datepicker .qs-controls.qs-blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.qs-datepicker .qs-arrow {
  height: 1.5625em;
  width: 1.5625em;
  position: relative;
  cursor: pointer;
  border-radius: 0.26392em;
  -webkit-transition: background 0.15s;
  transition: background 0.15s;
}

.qs-datepicker .qs-arrow:hover {
  background: rgba(0, 0, 0, 0.1);
}

.qs-datepicker .qs-arrow:hover.qs-left:after {
  border-right-color: #000;
}

.qs-datepicker .qs-arrow:hover.qs-right:after {
  border-left-color: #000;
}

.qs-datepicker .qs-arrow:after {
  content: "";
  border: 0.39062em solid rgba(0, 0, 0, 0);
  position: absolute;
  top: 50%;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
}

.qs-datepicker .qs-arrow.qs-left:after {
  border-right-color: grey;
  right: 50%;
  -webkit-transform: translate(25%, -50%);
  -ms-transform: translate(25%, -50%);
  transform: translate(25%, -50%);
}

.qs-datepicker .qs-arrow.qs-right:after {
  border-left-color: grey;
  left: 50%;
  -webkit-transform: translate(-25%, -50%);
  -ms-transform: translate(-25%, -50%);
  transform: translate(-25%, -50%);
}

.qs-datepicker .qs-month-year {
  font-weight: 700;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
}

.qs-datepicker .qs-month-year:hover {
  border-bottom: 1px solid grey;
}

.qs-datepicker .qs-month-year:active:focus,
.qs-datepicker .qs-month-year:focus {
  outline: none;
}

.qs-datepicker .qs-month {
  padding-right: 0.5ex;
}

.qs-datepicker .qs-year {
  padding-left: 0.5ex;
}

.qs-datepicker .qs-squares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.3125em;
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.qs-datepicker .qs-squares.qs-blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.qs-datepicker .qs-square {
  width: 14.28571%;
  height: 1.5625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition: background 0.1s;
  transition: background 0.1s;
  border-radius: 0.26392em;
}

.qs-datepicker .qs-square.qs-current {
  font-weight: 700;
}

.qs-datepicker .qs-square.qs-current span {
  text-decoration: underline;
}

.qs-datepicker .qs-square.qs-active {
  background: #fff;
  color: #000;
}

.qs-datepicker .qs-square.qs-range-date-start:not(.qs-range-date-6) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.qs-datepicker .qs-square.qs-range-date-middle {
  background: #d4ebf2;
}

.qs-datepicker .qs-square.qs-range-date-middle:not(.qs-range-date-0):not(.qs-range-date-6) {
  border-radius: 0;
}

.qs-datepicker .qs-square.qs-range-date-middle.qs-range-date-0 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.qs-datepicker .qs-square.qs-range-date-end:not(.qs-range-date-0),
.qs-datepicker .qs-square.qs-range-date-middle.qs-range-date-6 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.qs-datepicker .qs-square.qs-disabled span {
  opacity: 0.2;
}

.qs-datepicker .qs-square.qs-empty {
  cursor: default;
}

.qs-datepicker .qs-square.qs-disabled {
  cursor: not-allowed;
}

.qs-datepicker .qs-square.qs-day {
  cursor: default;
  font-weight: 700;
  color: grey;
}

.qs-datepicker .qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):hover {
  background: #4abcec;
}

.qs-datepicker .qs-event {
  position: relative;
}

.qs-datepicker .qs-event:after {
  content: "";
  position: absolute;
  width: 0.46875em;
  height: 0.46875em;
  border-radius: 50%;
  background: #07f;
  bottom: 0;
  right: 0;
}

.qs-datepicker .qs-event.qs-disabled:after,
.qs-datepicker .qs-event.qs-empty:after {
  background: #cce4ff;
}

body::after {
  content: "";
  background-color: rgba(8, 38, 43, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 30px;
  -webkit-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup__title:not(:last-child) {
  margin-bottom: 1.4375rem;
}

.popup__close {
  position: absolute;
  right: -21px;
  top: -21px;
  width: 18px;
  height: 18px;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background: linear-gradient(286deg, #033958 3.63%, #0f6b78 90.98%);
  -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.53);
          box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.53);
  width: 100%;
  max-width: 590px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.welcome {
  background: linear-gradient(286deg, #022335 3.63%, #043a41 90.98%);
}

.title {
  font-size: 3.375rem;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  text-transform: uppercase;
  color: #fff;
}

.title span {
  color: #4abcec;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  position: relative;
  z-index: 10;
}

.header__logo::after {
  content: "";
  width: 438px;
  height: 438px;
  border-radius: 438px;
  opacity: 0.16;
  background: #00e0ff;
  -webkit-filter: blur(123.5px);
          filter: blur(123.5px);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-60%, -70%);
      -ms-transform: translate(-60%, -70%);
          transform: translate(-60%, -70%);
  z-index: -1;
}

.header__decor {
  position: absolute;
  top: 0;
  right: 48%;
  -webkit-transform: translate(50%, 0);
      -ms-transform: translate(50%, 0);
          transform: translate(50%, 0);
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  z-index: 50;
  mix-blend-mode: lighten;
  -webkit-box-shadow: 58px 4px 191px 47px #000 inset;
          box-shadow: 58px 4px 191px 47px #000 inset;
}

.menu {
  position: relative;
  z-index: 50;
}

.menu__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__icon_open-burger {
  display: none;
}

.menu__icon_close-burger {
  display: none;
}

.welcome {
  position: relative;
}

.welcome__decor {
  background: -webkit-gradient(linear, right top, left top, from(rgba(74, 207, 236, 0.21)), color-stop(53.12%, #32abc3), to(rgba(74, 197, 236, 0.23)));
  background: linear-gradient(270deg, rgba(74, 207, 236, 0.21) 0%, #32abc3 53.12%, rgba(74, 197, 236, 0.23) 100%);
  -webkit-box-shadow: 0px 0px 24px 0px #00e0ff, 0px 4px 15px 0px #4ad9ec, 0px 3px 15px 0px rgba(0, 224, 255, 0.93);
          box-shadow: 0px 0px 24px 0px #00e0ff, 0px 4px 15px 0px #4ad9ec, 0px 3px 15px 0px rgba(0, 224, 255, 0.93);
  -webkit-filter: blur(1px);
          filter: blur(1px);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

.no-webp .welcome::before{
  background: url("../img/welcome/decor.png") 0 0 no-repeat; }

.welcome::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -899px;
  width: 1211px;
  height: 356px;
  mix-blend-mode: lighten;
}

.welcome__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome__container::before {
  content: "";
  width: 451px;
  height: 451px;
  border-radius: 438px;
  opacity: 0.16;
  background: #00e0ff;
  -webkit-filter: blur(123.5px);
          filter: blur(123.5px);
  position: absolute;
  bottom: -274px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 1;
}

.welcome__image {
  margin-right: -1.875rem;
  margin-left: -3.125rem;
}

.welcome__image img {
  max-width: 100%;
  mix-blend-mode: lighten;
  -webkit-box-shadow: 58px 4px 191px 47px #000 inset;
          box-shadow: 58px 4px 191px 47px #000 inset;
}

.welcome__scroll {
  position: absolute;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  gap: 32px;
  z-index: 10;
}

.welcome__scroll p {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  color: #747d81;
  font-size: 0.625rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.welcome__scroll div {
  border-radius: 60px;
  border: 1px solid #4a8bec;
  width: 20px;
  height: 37px;
  background: rgba(196, 196, 196, 0);
  position: relative;
  padding: 6px 5px;
}

.welcome__scroll div::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  width: 10px;
  height: 10px;
  background-color: #4abcec;
  -webkit-box-shadow: 0px 4px 10px rgba(74, 217, 236, 0.75);
          box-shadow: 0px 4px 10px rgba(74, 217, 236, 0.75);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.welcome__scroll:active div::after {
  -webkit-transform: translate(-50%, 130%);
      -ms-transform: translate(-50%, 130%);
          transform: translate(-50%, 130%);
}

.welcome__consultation {
  position: absolute;
  top: 152px;
  left: 68px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  color: #00e0ff;
  font-size: 0.625rem;
  font-weight: 500;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  gap: 63px;
}

.welcome__consultation p {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

@-webkit-keyframes pulse {
  0%, 100% {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.05);
            box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.05);
  }

  50% {
    -webkit-box-shadow: 0px 0px 0px 20px rgba(255, 255, 255, 0.05);
            box-shadow: 0px 0px 0px 20px rgba(255, 255, 255, 0.05);
  }
}

@keyframes pulse {
  0%, 100% {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.05);
            box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.05);
  }

  50% {
    -webkit-box-shadow: 0px 0px 0px 20px rgba(255, 255, 255, 0.05);
            box-shadow: 0px 0px 0px 20px rgba(255, 255, 255, 0.05);
  }
}

@-webkit-keyframes pulseMobile {
  0%, 100% {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.05);
            box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.05);
  }

  50% {
    -webkit-box-shadow: 0px 0px 0px 13px rgba(255, 255, 255, 0.05);
            box-shadow: 0px 0px 0px 13px rgba(255, 255, 255, 0.05);
  }
}

@keyframes pulseMobile {
  0%, 100% {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.05);
            box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.05);
  }

  50% {
    -webkit-box-shadow: 0px 0px 0px 13px rgba(255, 255, 255, 0.05);
            box-shadow: 0px 0px 0px 13px rgba(255, 255, 255, 0.05);
  }
}

.content {
  display: -ms-grid;
  display: grid;
}

.content > * {
  -ms-grid-column-align: start;
      justify-self: start;
}

.content__header:not(:last-child) {
  margin-bottom: 5rem;
}

.content__subtitle {
  color: #747d81;
  font-weight: 600;
}

.content__title {
  max-width: 670px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(31.75%, #fff), to(#1a3031));
  background: linear-gradient(180deg, #fff 31.75%, #1a3031 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6.75rem;
  font-weight: 600;
}

.content__text {
  font-size: 1.125rem;
  font-weight: 500;
  max-width: 580px;
}

.content__info {
  max-width: 580px;
}

.content__info:not(:last-child) {
  margin-bottom: 6.3125rem;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__text {
  font-size: 1.125rem;
  color: #00e0ff;
  font-weight: 500;
}

.info__text p:first-child {
  color: #fff;
  font-weight: 700;
}

.consultation__img {
  position: relative;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.consultation__img img {
  width: 40px;
  height: 40px;
}

.consultation__img::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: -1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(3, 225, 255, 0.66)), to(#13cdc2));
  background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13cdc2 100%);
  -webkit-filter: drop-shadow(0px 7px 20px #00e0ff);
          filter: drop-shadow(0px 7px 20px #00e0ff);
  -webkit-animation: pulseMobile 2.5s infinite ease-in-out;
          animation: pulseMobile 2.5s infinite ease-in-out;
}

@media (min-width: 29.99875em) {
  .consultation__img::after {
    -webkit-animation: pulse 2.5s infinite ease-in-out;
            animation: pulse 2.5s infinite ease-in-out;
  }
}

@media (min-width: 61.99875em) {
  .welcome__image {
    position: absolute;
    top: 147px;
    right: -606px;
    width: 1211px;
    height: 770px;
    margin: 0;
  }
}

@media (min-width: 78.75em) {
  .form__button {
    margin-top: 2.8125rem;
  }

  .popup__content {
    padding-left: 5.0625rem;
  }

  .popup__content {
    padding-right: 5.0625rem;
  }

  .popup__content {
    padding-top: 3.71875rem;
  }

  .popup__content {
    padding-bottom: 3.71875rem;
  }

  .title_popup {
    font-size: 2.0625rem;
  }

  .header__container {
    padding-top: 2.875rem;
  }

  .header__container {
    min-height: 8.25rem;
  }

  .header__logo img {
    width: 17.9375rem;
  }

  .menu__text {
    font-size: 1.125rem;
  }

  .welcome__container {
    padding-top: 17.875rem;
  }

  .welcome__container {
    padding-bottom: 10.3125rem;
  }

  .content__header:not(:last-child) {
    margin-bottom: 5rem;
  }

  .content__subtitle {
    font-size: 1.125rem;
  }

  .content__title {
    font-size: 6.75rem;
  }

  .content__text {
    font-size: 1.125rem;
  }

  .info {
    -webkit-column-gap: 2.0625rem;
       -moz-column-gap: 2.0625rem;
            column-gap: 2.0625rem;
  }

  .info__icon {
    width: 4.4375rem;
  }

  .info__icon {
    height: 4.4375rem;
  }

  .info__text {
    font-size: 1.125rem;
  }
}

@media (min-width: 75em) {
  .welcome__scroll {
    bottom: 5.5rem;
  }
}

@media (max-width: 87.5em) {
  .welcome__consultation {
    left: auto;
    right: 68px;
  }

  .welcome__consultation p {
    display: none;
  }
}

@media (max-width: 61.99875em) {
  .welcome::before {
    display: none;
  }

  .welcome__content:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .welcome__scroll {
    display: none;
  }

  .welcome__scroll {
    bottom: 2.375rem;
  }
}

@media (max-width: 47.99875em) {
  .welcome__consultation {
    top: 55%;
    right: 40px;
  }
}

@media (max-width: 43.5em) {
  .header__decor {
    display: none;
  }
}

@media (max-width: 29.99875em) {
  .menu__body {
    position: fixed;
    width: 93%;
    height: 104px;
    top: -100%;
    right: 0;
    -webkit-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
    border-radius: 0px 0px 0px 22px;
    background: linear-gradient(286deg, #0b4d69 3.63%, #104c54 90.98%);
    -webkit-box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.35);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 1.25rem;
  }

  .menu-open .menu__body {
    top: 0;
  }

  .menu-open .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 1.875rem;
    border-top: 1px solid rgba(59, 118, 143, 0.3);
    padding-top: 0.625rem;
  }

  .menu__icon_default {
    width: 2.035625rem;
    height: 1.92625rem;
  }

  .menu-open .menu__icon_default {
    display: none;
  }

  .menu-open .menu__icon_open-burger {
    display: block;
    width: 37px;
    height: 35px;
  }

  .menu-open .menu__icon_close-burger {
    display: block;
  }

  .menu__text {
    font-size: 1.125rem;
  }

  .consultation__img img {
    width: 24px;
    height: 24px;
  }

  .consultation__img::after {
    width: 63px;
    height: 63px;
  }
}

@media (max-width: 22.5em) {
  .form__button {
    margin-top: 2.0625rem;
  }

  .popup__content {
    padding-left: 1.71875rem;
  }

  .popup__content {
    padding-right: 1.71875rem;
  }

  .popup__content {
    padding-top: 2.40625rem;
  }

  .popup__content {
    padding-bottom: 2.40625rem;
  }

  .title_popup {
    font-size: 1.375rem;
  }

  .header__container {
    padding-top: 1.5rem;
  }

  .header__container {
    min-height: 5.125rem;
  }

  .header__logo img {
    width: 12.1875rem;
  }

  .menu__text {
    font-size: 1rem;
  }

  .welcome__container {
    padding-top: 8.875rem;
  }

  .welcome__container {
    padding-bottom: 3.75rem;
  }

  .content__header:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .content__subtitle {
    font-size: 1rem;
  }

  .content__title {
    font-size: 3rem;
  }

  .content__text {
    font-size: 1rem;
  }

  .info {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .info__icon {
    width: 3.0625rem;
  }

  .info__icon {
    height: 3.0625rem;
  }

  .info__text {
    font-size: 0.875rem;
  }
}

@media (min-width: 22.5em) and (max-width: 78.75em) {
@supports (margin-top: clamp( 2.0625rem , 1.7625rem  +  1.3333333333vw , 2.8125rem )) {
    .form__button {
      margin-top: clamp( 2.0625rem , 1.7625rem  +  1.3333333333vw , 2.8125rem );
    }
}

@supports not (margin-top: clamp( 2.0625rem , 1.7625rem  +  1.3333333333vw , 2.8125rem )) {
    .form__button {
      margin-top: calc(2.0625rem + 0.75 * (100vw - 22.5rem) / 56.25);
    }
}

@supports (padding-left: clamp( 1.71875rem , 0.38125rem  +  5.9444444444vw , 5.0625rem )) {
    .popup__content {
      padding-left: clamp( 1.71875rem , 0.38125rem  +  5.9444444444vw , 5.0625rem );
    }
}

@supports not (padding-left: clamp( 1.71875rem , 0.38125rem  +  5.9444444444vw , 5.0625rem )) {
    .popup__content {
      padding-left: calc(1.71875rem + 3.34375 * (100vw - 22.5rem) / 56.25);
    }
}

@supports (padding-right: clamp( 1.71875rem , 0.38125rem  +  5.9444444444vw , 5.0625rem )) {
    .popup__content {
      padding-right: clamp( 1.71875rem , 0.38125rem  +  5.9444444444vw , 5.0625rem );
    }
}

@supports not (padding-right: clamp( 1.71875rem , 0.38125rem  +  5.9444444444vw , 5.0625rem )) {
    .popup__content {
      padding-right: calc(1.71875rem + 3.34375 * (100vw - 22.5rem) / 56.25);
    }
}

@supports (padding-top: clamp( 2.40625rem , 1.88125rem  +  2.3333333333vw , 3.71875rem )) {
    .popup__content {
      padding-top: clamp( 2.40625rem , 1.88125rem  +  2.3333333333vw , 3.71875rem );
    }
}

@supports not (padding-top: clamp( 2.40625rem , 1.88125rem  +  2.3333333333vw , 3.71875rem )) {
    .popup__content {
      padding-top: calc(2.40625rem + 1.3125 * (100vw - 22.5rem) / 56.25);
    }
}

@supports (padding-bottom: clamp( 2.40625rem , 1.88125rem  +  2.3333333333vw , 3.71875rem )) {
    .popup__content {
      padding-bottom: clamp( 2.40625rem , 1.88125rem  +  2.3333333333vw , 3.71875rem );
    }
}

@supports not (padding-bottom: clamp( 2.40625rem , 1.88125rem  +  2.3333333333vw , 3.71875rem )) {
    .popup__content {
      padding-bottom: calc(2.40625rem + 1.3125 * (100vw - 22.5rem) / 56.25);
    }
}

@supports (font-size: clamp( 1.375rem , 1.1rem  +  1.2222222222vw , 2.0625rem )) {
    .title_popup {
      font-size: clamp( 1.375rem , 1.1rem  +  1.2222222222vw , 2.0625rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.1rem  +  1.2222222222vw , 2.0625rem )) {
    .title_popup {
      font-size: calc(1.375rem + 0.6875 * (100vw - 22.5rem) / 56.25);
    }
}

@supports (padding-top: clamp( 1.5rem , 0.95rem  +  2.4444444444vw , 2.875rem )) {
    .header__container {
      padding-top: clamp( 1.5rem , 0.95rem  +  2.4444444444vw , 2.875rem );
    }
}

@supports not (padding-top: clamp( 1.5rem , 0.95rem  +  2.4444444444vw , 2.875rem )) {
    .header__container {
      padding-top: calc(1.5rem + 1.375 * (100vw - 22.5rem) / 56.25);
    }
}

@supports (min-height: clamp( 5.125rem , 3.875rem  +  5.5555555556vw , 8.25rem )) {
    .header__container {
      min-height: clamp( 5.125rem , 3.875rem  +  5.5555555556vw , 8.25rem );
    }
}

@supports not (min-height: clamp( 5.125rem , 3.875rem  +  5.5555555556vw , 8.25rem )) {
    .header__container {
      min-height: calc(5.125rem + 3.125 * (100vw - 22.5rem) / 56.25);
    }
}

@supports (width: clamp( 12.1875rem , 9.8875rem  +  10.2222222222vw , 17.9375rem )) {
    .header__logo img {
      width: clamp( 12.1875rem , 9.8875rem  +  10.2222222222vw , 17.9375rem );
    }
}

@supports not (width: clamp( 12.1875rem , 9.8875rem  +  10.2222222222vw , 17.9375rem )) {
    .header__logo img {
      width: calc(12.1875rem + 5.75 * (100vw - 22.5rem) / 56.25);
    }
}

@supports (font-size: clamp( 1rem , 0.95rem  +  0.2222222222vw , 1.125rem )) {
    .menu__text {
      font-size: clamp( 1rem , 0.95rem  +  0.2222222222vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.95rem  +  0.2222222222vw , 1.125rem )) {
    .menu__text {
      font-size: calc(1rem + 0.125 * (100vw - 22.5rem) / 56.25);
    }
}

@supports (padding-top: clamp( 8.875rem , 5.275rem  +  16vw , 17.875rem )) {
    .welcome__container {
      padding-top: clamp( 8.875rem , 5.275rem  +  16vw , 17.875rem );
    }
}

@supports not (padding-top: clamp( 8.875rem , 5.275rem  +  16vw , 17.875rem )) {
    .welcome__container {
      padding-top: calc(8.875rem + 9 * (100vw - 22.5rem) / 56.25);
    }
}

@supports (padding-bottom: clamp( 3.75rem , 1.125rem  +  11.6666666667vw , 10.3125rem )) {
    .welcome__container {
      padding-bottom: clamp( 3.75rem , 1.125rem  +  11.6666666667vw , 10.3125rem );
    }
}

@supports not (padding-bottom: clamp( 3.75rem , 1.125rem  +  11.6666666667vw , 10.3125rem )) {
    .welcome__container {
      padding-bottom: calc(3.75rem + 6.5625 * (100vw - 22.5rem) / 56.25);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 1.5rem  +  4.4444444444vw , 5rem )) {
    .content__header:not(:last-child) {
      margin-bottom: clamp( 2.5rem , 1.5rem  +  4.4444444444vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.5rem  +  4.4444444444vw , 5rem )) {
    .content__header:not(:last-child) {
      margin-bottom: calc(2.5rem + 2.5 * (100vw - 22.5rem) / 56.25);
    }
}

@supports (font-size: clamp( 1rem , 0.95rem  +  0.2222222222vw , 1.125rem )) {
    .content__subtitle {
      font-size: clamp( 1rem , 0.95rem  +  0.2222222222vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.95rem  +  0.2222222222vw , 1.125rem )) {
    .content__subtitle {
      font-size: calc(1rem + 0.125 * (100vw - 22.5rem) / 56.25);
    }
}

@supports (font-size: clamp( 3rem , 1.5rem  +  6.6666666667vw , 6.75rem )) {
    .content__title {
      font-size: clamp( 3rem , 1.5rem  +  6.6666666667vw , 6.75rem );
    }
}

@supports not (font-size: clamp( 3rem , 1.5rem  +  6.6666666667vw , 6.75rem )) {
    .content__title {
      font-size: calc(3rem + 3.75 * (100vw - 22.5rem) / 56.25);
    }
}

@supports (font-size: clamp( 1rem , 0.95rem  +  0.2222222222vw , 1.125rem )) {
    .content__text {
      font-size: clamp( 1rem , 0.95rem  +  0.2222222222vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.95rem  +  0.2222222222vw , 1.125rem )) {
    .content__text {
      font-size: calc(1rem + 0.125 * (100vw - 22.5rem) / 56.25);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.4875rem  +  2vw , 2.0625rem )) or (column-gap: clamp( 0.9375rem , 0.4875rem  +  2vw , 2.0625rem ))) {
    .info {
      -webkit-column-gap: clamp( 0.9375rem , 0.4875rem  +  2vw , 2.0625rem );
         -moz-column-gap: clamp( 0.9375rem , 0.4875rem  +  2vw , 2.0625rem );
              column-gap: clamp( 0.9375rem , 0.4875rem  +  2vw , 2.0625rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.4875rem  +  2vw , 2.0625rem )) or (column-gap: clamp( 0.9375rem , 0.4875rem  +  2vw , 2.0625rem ))) {
    .info {
      -webkit-column-gap: calc(0.9375rem + 1.125 * (100vw - 22.5rem) / 56.25);
         -moz-column-gap: calc(0.9375rem + 1.125 * (100vw - 22.5rem) / 56.25);
              column-gap: calc(0.9375rem + 1.125 * (100vw - 22.5rem) / 56.25);
    }
}

@supports (width: clamp( 3.0625rem , 2.5125rem  +  2.4444444444vw , 4.4375rem )) {
    .info__icon {
      width: clamp( 3.0625rem , 2.5125rem  +  2.4444444444vw , 4.4375rem );
    }
}

@supports not (width: clamp( 3.0625rem , 2.5125rem  +  2.4444444444vw , 4.4375rem )) {
    .info__icon {
      width: calc(3.0625rem + 1.375 * (100vw - 22.5rem) / 56.25);
    }
}

@supports (height: clamp( 3.0625rem , 2.5125rem  +  2.4444444444vw , 4.4375rem )) {
    .info__icon {
      height: clamp( 3.0625rem , 2.5125rem  +  2.4444444444vw , 4.4375rem );
    }
}

@supports not (height: clamp( 3.0625rem , 2.5125rem  +  2.4444444444vw , 4.4375rem )) {
    .info__icon {
      height: calc(3.0625rem + 1.375 * (100vw - 22.5rem) / 56.25);
    }
}

@supports (font-size: clamp( 0.875rem , 0.775rem  +  0.4444444444vw , 1.125rem )) {
    .info__text {
      font-size: clamp( 0.875rem , 0.775rem  +  0.4444444444vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.775rem  +  0.4444444444vw , 1.125rem )) {
    .info__text {
      font-size: calc(0.875rem + 0.25 * (100vw - 22.5rem) / 56.25);
    }
}
}

@media (min-width: 61.99875em) and (max-width: 75em) {
@supports (bottom: clamp( 2.375rem , -12.5271127776rem  +  24.0361503702vw , 5.5rem )) {
    .welcome__scroll {
      bottom: clamp( 2.375rem , -12.5271127776rem  +  24.0361503702vw , 5.5rem );
    }
}

@supports not (bottom: clamp( 2.375rem , -12.5271127776rem  +  24.0361503702vw , 5.5rem )) {
    .welcome__scroll {
      bottom: calc(2.375rem + 3.125 * (100vw - 61.99875rem) / 13.00125);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    -webkit-filter: drop-shadow(0px 7px 20px #00e0ff);
            filter: drop-shadow(0px 7px 20px #00e0ff);
  }
}

.webp .welcome::before{ background: url(../img/welcome/decor.webp) 0 0 no-repeat; }