// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.spollers {
  display: grid;
  gap: 20px;
  &__title {
    font-size: toRem(20);
    font-weight: 700;
    line-height: 1.05; /* 105% */
  }
  &__status {
    color: #08262b;
    font-size: toRem(13);
    background: #00e0ff;
    padding: toRem(0) toRem(4);
    line-height: 1.61; /* 161.538% */
    text-transform: uppercase;
    white-space: nowrap;
  }
  &__duration {
    color: #08b1b9;
    font-size: toRem(15);
    line-height: math.div(21, 15);
  }
  &__info {
    display: flex;
    column-gap: 15px;
    row-gap: 7px;
    flex-wrap: wrap;
    padding-right: toRem(50);
  }
}
// Спойлер
.spollers__item {
}
// Заголовок спойлера
.spollers__name {
  width: 100%;
  cursor: default;
  text-align: left;
  padding: toRem(17) toRem(17);
  border-radius: toRem(6);
  background: linear-gradient(286deg, #073447 3.63%, #08262b 90.98%);
  position: relative;
  list-style: none;
  &::marker {
  }
  ._spoller-init & {
    cursor: pointer;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 15px;
      top: 12px;
      background: url("@img/icons/select.svg") 0 0 no-repeat;
      height: 32px;
      width: 32px;
      transition: transform 0.5s ease 0s;
    }
    &._spoller-active {
      &::after {
        transform: rotate(180deg);
      }
    }
    /*
		._spoller-init & {
			position: relative;
			width: 100%;
			text-align: left;
			&::before,
			&::after {
				content: "";
				position: absolute;
				right: 0;
				top: toRem(12);
				height: toRem(1);
				transition: all 0.3s ease 0s;
				width: toRem(10);
				background-color: #000;
			}
			&::before {
				transform: rotate(40deg);
				right: toRem(7);
			}
			&::after {
				transform: rotate(-40deg);
			}
		}
		&._spoller-active {
			&::before {
				transform: rotate(-40deg);
			}
			&::after {
				transform: rotate(40deg);
			}
		}
		*/
  }
}
// Контент спойлера
.spollers__body {
  padding: toRem(30) toRem(43);
  &_empty {
    padding: 0;
  }
}

.body-spollers {
  &__item {
    position: relative;
    &:not(:last-child) {
      margin-bottom: toRem(40);
    }
    &::before {
      position: absolute;
      left: -16px;
      top: 0;
      transform: translate(-100%, 0);
      content: counter(list-counter);
      counter-increment: list-counter;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 27px;
      height: 27px;
      font-weight: 700;
      font-size: toRem(14);
      line-height: 1.5;
      background-color: #4abcec;
      color: #08262b;

      border-radius: 50%;
    }
  }
  &__title {
    color: #4abcec;
    font-size: toRem(16);
    font-weight: 700;
    line-height: 1.31;
    &:not(:last-child) {
      margin-bottom: toRem(14);
    }
  }
  &__list {
    list-style: none;
    counter-reset: list-counter;
  }
  &__text {
    font-size: toRem(16);
    line-height: 1.31; /* 131.25% */
  }
}
