//<FORM>
// Сниппет (HTML):
.form {
  &__line {
    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
  }
  &__label {
    color: #00e0ff;
    font-size: toRem(13);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.3px;
    display: block;

    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
  }
  &__input {
  }
  &__button {
    margin-top: toRem(45);
  }
  &__error {
  }
}
//</FORM>

// <BUTTONS>
// Сниппет (HTML): btn
@import "button";

// <INPUTS>
// Сниппет (HTML): inp
@import "input";

// <CHECK>
// Сниппет (HTML): chk
// @import "checkbox";

// <RADIO>
// Сниппет (HTML): opt
// @import "radio";

// <SELECT>
// Сниппет (HTML): sel
// @import "select";

// <RATING>
// Сниппет (HTML): rating
// @import "rating";

// <QUANTITY>
// Сниппет (HTML): qa
// @import "quantity";

// <RANGE>
// Сниппет (HTML):
// @import "range";

// <CALENDAR>
// Сниппет (HTML):
@import "datepicker";
