// Заголовки, общие БЭМ блоки и прочее...
.title {
  @include adaptiveValue("font-size", 54, 30);
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  text-transform: uppercase;
  color: #fff;
  span {
    color: #4abcec;
  }
  &_popup {
    @include adaptiveValue("font-size", 33, 22);
  }
}
