// Заголовки, общие БЭМ блоки и прочее...
.title {
  font-size: toRem(54);
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  text-transform: uppercase;
  color: #fff;
  span {
    color: #4abcec;
  }
  &_popup {
    @include adaptiveValue("font-size", 33, 22);
  }
}
