//====================================================================================================
.welcome {
  @extend %bg-primary1;
  position: relative;
  &__decor {
    background: linear-gradient(270deg, rgba(74, 207, 236, 0.21) 0%, #32abc3 53.12%, rgba(74, 197, 236, 0.23) 100%);
    box-shadow:
      0px 0px 24px 0px #00e0ff,
      0px 4px 15px 0px #4ad9ec,
      0px 3px 15px 0px rgba(0, 224, 255, 0.93);
    filter: blur(1px);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
  }
  &::before {
    @media (max-width: $tablet) {
      display: none;
    }
    content: "";
    position: absolute;
    bottom: 0;
    left: -899px;
    width: 1211px;
    height: 356px;
    mix-blend-mode: lighten;
    background: url("@img/welcome/decor.png") 0 0 no-repeat;
  }
  &__container {
    @include adaptiveValue("padding-top", 286, 142);
    @include adaptiveValue("padding-bottom", 165, 60);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &::before {
      content: "";
      width: 451px;
      height: 451px;
      border-radius: 438px;
      opacity: 0.16;
      background: #00e0ff;
      filter: blur(123.5px);
      position: absolute;
      bottom: -274px;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 1;
    }
  }
  &__content {
    @media (max-width: $tablet) {
      &:not(:last-child) {
        margin-bottom: toRem(10);
      }
    }
  }
  &__image {
    margin-right: toRem(-30);
    margin-left: toRem(-50);
    @media (min-width: $tablet) {
      position: absolute;
      top: 147px;
      right: -606px;
      width: 1211px;
      height: 770px;
      margin: 0;
    }
    img {
      max-width: 100%;
      mix-blend-mode: lighten;
      box-shadow: 58px 4px 191px 47px #000 inset;
    }
  }
  &__scroll {
    @media (max-width: $tablet) {
      display: none;
    }
    position: absolute;
    left: 50%;
    @include adaptiveValue("bottom", 88, 38, 0, 1200, 991.98);
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
    gap: 32px;
    z-index: 10;
    p {
      writing-mode: vertical-lr;
      transform: rotate(-180deg);
      color: #747d81;
      font-size: toRem(10);
      font-weight: 600;
      line-height: normal;
      letter-spacing: 3.6px;
      text-transform: uppercase;
    }
    div {
      border-radius: 60px;
      border: 1px solid #4a8bec;
      width: 20px;
      height: 37px;
      background: rgba(196, 196, 196, 0);
      position: relative;
      padding: 6px 5px;
      &::after {
        content: "";
        position: absolute;
        border-radius: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 10px;
        height: 10px;
        background-color: #4abcec;
        box-shadow: (0px 4px 10px rgba(74, 217, 236, 0.75));
        transition: all 0.4s;
      }
    }
    &:active {
      div {
        &::after {
          transform: translate(-50%, 130%);
        }
      }
    }
  }
  &__consultation {
    position: absolute;
    top: 152px;
    left: 68px;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    color: #00e0ff;
    font-size: toRem(10);
    font-weight: 500;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 63px;
    p {
      writing-mode: vertical-lr;
    }
    @media (max-width: em(1400)) {
      left: auto;
      right: 68px;
      p {
        display: none;
      }
    }

    @media (max-width: $mobile) {
      top: 55%;
      right: 40px;
    }
  }
}

@keyframes pulse {
  0%,
  100% {
    box-shadow: 0px 0px 0px 0px rgb(255, 255, 255, 0.05);
  }
  50% {
    box-shadow: 0px 0px 0px 20px rgb(255, 255, 255, 0.05);
  }
}
@keyframes pulseMobile {
  0%,
  100% {
    box-shadow: 0px 0px 0px 0px rgb(255, 255, 255, 0.05);
  }
  50% {
    box-shadow: 0px 0px 0px 13px rgb(255, 255, 255, 0.05);
  }
}

.content {
  display: grid;
  & > * {
    justify-self: start;
  }
  &__header {
    &:not(:last-child) {
      margin-bottom: toRem(80);
      @include adaptiveValue("margin-bottom", 80, 40);
    }
  }
  &__subtitle {
    color: #747d81;
    @include adaptiveValue("font-size", 18, 16);
    font-weight: 600;
  }
  &__title {
    max-width: 670px;
    background: linear-gradient(180deg, #fff 31.75%, #1a3031 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: toRem(108);
    @include adaptiveValue("font-size", 108, 48);
    font-weight: 600;
  }
  &__text {
    font-size: toRem(18);
    @include adaptiveValue("font-size", 18, 16);
    font-weight: 500;
    max-width: 580px;
  }
  &__info {
    max-width: 580px;
    &:not(:last-child) {
      margin-bottom: toRem(101);
    }
  }
  &__button {
    @media (max-width: $mobile) {
      width: 100%;
    }
  }
}
.info {
  display: flex;
  @include adaptiveValue("column-gap", 33, 15);
  &__icon {
    @include adaptiveValue("width", 71, 49);
    @include adaptiveValue("height", 71, 49);
  }
  &__text {
    font-size: toRem(18);
    @include adaptiveValue("font-size", 18, 14);
    color: #00e0ff;
    font-weight: 500;
    p:first-child {
      color: #fff;
      font-weight: 700;
    }
  }
}

.consultation {
  &__img {
    img {
      width: 40px;
      height: 40px;
      @media (max-width: $mobileSmall) {
        width: 24px;
        height: 24px;
      }
    }
    position: relative;
    transform: rotate(-180deg);

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
      height: 100px;
      @media (max-width: $mobileSmall) {
        width: 63px;
        height: 63px;
      }
      border-radius: 50%;
      z-index: -1;
      background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13cdc2 100%);
      filter: drop-shadow(0px 7px 20px #00e0ff);
      animation: pulseMobile 2.5s infinite ease-in-out;
      @media (min-width: $mobileSmall) {
        animation: pulse 2.5s infinite ease-in-out;
      }
    }
  }
}

//====================================================================================================

.reason {
  background: linear-gradient(to right, #022335, #0c373d);
  @include adaptiveValue("padding-top", 124, 55);
  @include adaptiveValue("padding-bottom", 124, 55);
  &__container {
  }
  &__title {
    &:not(:last-child) {
      margin-bottom: toRem(58);
    }
  }
  &__body {
  }
}
.title {
}
.body {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__row {
    display: grid;
    gap: 20px;
    &_top {
      grid-template-columns: repeat(4, minmax(232px, 1fr));
      @media (max-width: em(1050)) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: em(550)) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    &_bottom {
      grid-template-columns: repeat(3, minmax(232px, 1fr));
      @media (max-width: em(900)) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: em(550)) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
  &__item {
  }
}
.item {
  height: 100%;
  border-image-slice: 1;
  border: 2px solid;
  border-radius: 20px;
  border-image: linear-gradient(to right, transparent, #0f6b78, transparent) 1 1;
  background: linear-gradient(180deg, rgba(0, 224, 255, 0.11) 0%, rgba(0, 224, 255, 0.05) 100%);
  @include adaptiveValue("padding-top", 35, 17);
  @include adaptiveValue("padding-bottom", 35, 17);
  @include adaptiveValue("padding-left", 40, 20);
  @include adaptiveValue("padding-right", 40, 20);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: -5px;
    @include adaptiveValue("left", 40, 20);
    background-color: rgba(3, 225, 255, 0.66);
    filter: blur(5.5px);
    width: 41px;
    height: 10px;
  }
  &__icon {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 15, 8);
    }
    img {
      @include adaptiveValue("height", 50, 40);
      @include adaptiveValue("width", 50, 40);
    }
  }
  &__text {
    @media (max-width: em(550)) {
      font-size: toRem(14);
    }
  }
}

//========================================================================================================================================================
